/*------------ MAIN INDEX --------------*/

#maincontainer{
    position: relative;
    z-index: 5;
}

#bigLogoContainer{
    margin-top: 20px;
}

.content{
    padding: 20px;
    margin: 70px 30px 20px 30px;
}

#home-text-left {
    text-align: justify;
    padding: 35px 25px;
}

.sidentifier{
    padding: 20px 20px;
    border-radius: 10px;
}
#search-div{
    padding: 30px;
}
.btn-rechercher-index{
    margin-top: 10px !important;
}
.input-log{
    background-color: #333;
    color: #888;
    border: none;
    margin: 15px 0;
}

#logo_entier_netflix {
    width: 400px;
    height: 120px;
}

.input-log:focus{
    background-color: #505050;
    border: 1px solid #505050;
    color: white;
}

.btn-sidentifier {
    margin-top: 10px;
    background-color: #e50914;
    color: white;
}

#a-inscrivez-vous:link,#a-inscrivez-vous:visited{
    font-size: 20px;
    color: #e50914;
}
